{ config, lib, pkgs, ... }:

{
{% for user in usernames %}
  # Create user's main group
  users.groups.{{ user }} = {};

  # Create user
  users.users.{{ user }} = {
    isNormalUser = true;
    group        = "{{ user }}";
    extraGroups  = [ "wheel" "users" ];
    shell        = pkgs.bash;
    home         = "/home/{{ user }}";
    createHome   = true;
    description  = "{{ user }}";
    packages     = with pkgs; [
      atuin
      bat
      direnv
      # BEGIN Hyprland deps
      dunst
      hyprutils
      hyprpaper
      hyprpolkitagent
      rofi
      # END Hyprland deps
      delta
      eza
      fd
      lazygit
      pre-commit
      ripgrep
      starship
      ugrep
      uv
      viddy
      zoxide
    ];
  };
{% endfor %}
}
