{ config, lib, pkgs, ... }:

{
  # Create user's main group
  users.groups.{{ username }} = {};

  # Create user
  users.users.{{ username }} = {
    isNormalUser = true;
    group        = "{{ username }}";
    extraGroups  = [ "wheel" "users" ];
    shell        = pkgs.bash;
    home         = "/home/{{ username }}";
    createHome   = true;
    description  = "{{ username }}";
    packages     = with pkgs; [
      atuin
      bat
      bitwarden
      bitwarden-cli
      direnv
      delta
      eza
      fd
      ghostty
      lazygit
      pre-commit
      ripgrep
      starship
      tree
      ugrep
      uv
      viddy
      zoxide
    ];
  };

  # Install and configure Steam
  programs.steam = {
    enable = true;
    remotePlay.openFirewall = true;
    localNetworkGameTransfers.openFirewall = true;
  };

  nixpkgs.config.allowUnfreePredicate = pkg: builtins.elem (lib.getName pkg) [
    "steam"
    "steam-original"
    "steam-unwrapped"
    "steam-run"
  ];
}
